<div class="search-form mt-4">
    <form method="POST" action="">
        <div class="mb-3">
            <label for="search-input" class="form-label">Key word</label>
            <input type="text" name="key" class="form-control" id="search-input" placeholder="Enter key word...">
        </div>
        <div class="mb-3">
            <label for="search-input" class="form-label">age</label>
            <input type="text" name="age" class="form-control" id="search-input" placeholder="Enter age...">
        </div>
        <button type="submit" class="btn btn-primary">search</button>
    </form>
</div>